article {
  color: rgb(149, 149, 149);
  line-height: 10px;
  padding-left: 14px;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  color: rgba(90, 90, 90, 0.6);
}

a {
  color: rgb(149, 149, 149);
  text-decoration: none !important;
  font-size: 14px;
  letter-spacing: -0.8px;
}

a:hover {
  text-shadow: 0 0 1.5px rgb(149, 149, 149);
  color: rgba(90, 90, 90, 0.5);
  font-size: 14.5px;
}

.container {
  max-width: 900px;
  margin-top: 60px;
  padding-left: 30px;
  background-image: linear-gradient(
    rgb(108, 208, 255),
    rgb(255, 233, 146),
    rgb(255, 255, 255)
  );
  border-radius: 8px;
}

.main-text {
  text-align: center;
  font-size: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(90, 90, 90, 0.9);
  text-shadow: 0 0 2px rgb(100, 100, 100);
  line-height: 30px;
  letter-spacing: -0.6px;
  position: relative;
  top: 30px;
}

.units {
  position: relative;
  bottom: 10px;
  font-size: 14px;
  letter-spacing: -1px;
}

.deg {
  color: white;
  font-size: 28px;
  text-shadow: 0 0 2.5px rgb(90, 90, 90);
  margin: 0 auto;
  letter-spacing: -1px;
}

.unit {
  font-style: italic;
  color: rgba(90, 90, 90, 0.9);
}

.icon {
  max-width: 3rem;
  position: relative;
  bottom: 6px;
  right: 6px;
}

.search-city {
  position: relative;
  top: 18px;
  left: 72px;
  max-height: 50px;
}

.search-width {
  width: 29rem;
  border: 1.5px solid #78c0ff1b;
  border-radius: 24px;
  padding: 8px;
  margin: 8px;
  background: scroll;
  box-shadow: 0 0 8px #066cc560;
  color: rgb(149, 149, 149);
  transition: all 200ms ease-in-out;
}

.search-width:hover {
  border-color: #0665b8cb;
  background: white;
  box-shadow: 0 0 2px #066cc56b;
}

.lupa {
  border: 1.5px solid #78c0ff1b;
  border-radius: 24px;
  box-shadow: 0 0 8px #066cc560;
  padding: 8px 20px;
  margin-left: 0;
  background: scroll;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.lupa:hover {
  background: white;
  border: 1.5px solid #0665b8cb;
  box-shadow: 0 0 2px #066cc56b;
}

.geo {
  max-width: 44px;
  position: relative;
  left: 44px;
  top: 48px;
  opacity: 60%;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.geo:hover {
  max-width: 46px;
  opacity: 80%;
}

.namedDay {
  text-shadow: 0 0 1.5px rgb(149, 149, 149);
  color: rgba(90, 90, 90, 0.9);
  font-size: 16px;
  letter-spacing: -0.6px;
  line-height: 26px;
}

.forecast {
  position: relative;
  bottom: 140px;
  left: 190px;
  text-align: center;
  max-height: 30px;
}

.daysCol {
  margin: 10px;
  width: 114px;
  height: 114px;
  background: #78c0ff1b;
  box-shadow: 0 0 8px #066cc560;
  border-radius: 8px;
}

.dayDeg {
  font-size: 20px;
  color: white;
  text-shadow: 0 0 2px rgb(90, 90, 90);
}

.nightDeg {
  color: rgba(130, 130, 130, 0.8);
  font-size: 20px;
}

.source {
  color: rgba(108, 208, 255, 0.714);
  text-align: right;
  position: relative;
  bottom: 24px;
  right: 20px;
}

#square {
  text-align: center;
  width: 164px;
  height: 164px;
  margin: 16px;
  background: #78c0ff1b;
  box-shadow: 0 0 8px #066cc560;
  border-radius: 8px;
}
