article {
  color: rgb(100, 100, 100);
  text-shadow: 0 0 1px rgb(100, 100, 100);
  line-height: 10px;
  margin: 6px auto;
  padding-left: 6px;
}

h1 {
  font-size: 32px;
  margin-top: 30px;
}

h1,
h5 {
  margin-left: 20px;
}

h1,
h2 {
  text-shadow: 0 0 3px rgba(88, 88, 88, 0.656);
}

h4 {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  text-shadow: 0 0 1px rgb(100, 100, 100);
  color: rgb(100, 100, 100);
}

a {
  color: rgb(100, 100, 100);
  text-decoration: none !important;
  font-size: 14px;
  letter-spacing: -0.8px;
}

a:hover {
  text-shadow: 0 0 1.5px rgb(149, 149, 149);
}

.container {
  max-width: 900px;
  margin-top: 60px;
  background-color: rgb(225, 239, 255);
  border: 1px solid #2f80c752;
  box-shadow: 0 0 6px #066cc5a0;
  border-radius: 6px;
}

.main-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0665b8;
  text-shadow: 0 0 2px #054f8f;
  line-height: 30px;
  letter-spacing: -0.6px;
  position: relative;
  left: -15px;
}

.units {
  position: relative;
  bottom: 10px;
  font-size: 14px;
  letter-spacing: -1px;
}

.deg {
  color: white;
  font-size: 28px;
  text-shadow: 0 0 2px gray;
}

.search-city {
  position: relative;
  top: 30px;
  text-align: center;
  line-height: 30px;
}

.search-width {
  width: 28rem;
  border: 1.5px solid #2f80c752;
  border-radius: 22px;
  box-shadow: 0 0 6px #066cc56b;
  padding: 8px;
  background: scroll;
  color: rgb(100, 100, 100);
  transition: all 200ms ease-in-out;
}

.search-width:hover {
  border-color: #0665b8;
  background: white;
  box-shadow: 0 0 2px #066cc56b;
}

.lupa {
  border: 1.5px solid #2f80c752;
  border-radius: 22px;
  box-shadow: 0 0 6px #066cc56b;
  padding: 8px 20px;
  margin-left: 0;
  background: scroll;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.lupa:hover {
  background: white;
  border: 1.5px solid #0665b8;
  box-shadow: 0 0 2px #066cc56b;
}

.geo {
  width: 44px;
  position: absolute;
  right: 328px;
  top: 152px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.geo:hover {
  width: 46px;
}

.days,
.monday {
  text-shadow: 0 0 1.5px #0665b8;
  color: #054f8f;
  font-size: 16px;
  letter-spacing: -0.6px;
  line-height: 26px;
}

.col-9 {
  margin: 10px;
  padding: 0;
}

.col-2 {
  width: 90px;
  height: 90px;
  background: #1eff0000;
  border: 1.5px solid #2f80c752;
  color: gray;
  box-shadow: 0 0 8px #066cc56b;
  border-radius: 4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 18px;
}

.days {
  position: fixed;
  transform: rotate(45deg);
  left: 54px;
  top: 5px;
}

.emoji {
  position: fixed;
  transform: rotate(45deg);
  font-size: 28px;
  bottom: -2px;
  left: 4px;
}

.degres {
  color: white;
  position: fixed;
  transform: rotate(45deg);
  font-size: 18px;
  bottom: 40px;
  top: 32px;
  text-shadow: 0 0 2px gray;
}

.gray {
  color: rgb(100, 100, 100);
  font-weight: lighter;
}

.night {
  color: rgb(100, 100, 100);
}

#square {
  width: 132px;
  height: 132px;
  background: #f347ff00;
  border: 1.5px solid #2f80c752;
  margin: 20px;
  margin-top: 6px;
  box-shadow: 0 0 8px #066cc56b;
  border-radius: 4px;
}
